* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-container {
  display: flex;
  justify-content: center;
  font-family: roboto;
  align-items: center;
}
.app-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-size: 38px;
}
.imgCls {
  height: 400px;
}
.tab-container {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
